body{
    background-color: lightsteelblue;
}
#mainContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 90%;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.cardContainer{
    border-width: 4px;
    border-style: ridge;
    border-color: steelblue;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    background-color: lightslategray;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 7px 10px dimgray;
    overflow: hidden;
    display: flex;
}
.cardImage{
    width: 60%;
    height: 100%;
    border-right: 3px dotted steelblue;
}
.cardDetails{
    width: 40%;
    text-align: center;
}
.cardTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    /*
        The following font is from https://fonts.google.com/specimen/Black+Ops+One?preview.text=&preview.text_type=custom&sidebar.open=true&selection.family=Black+Ops+One
    */
    font-family: 'Black Ops One', monospace;
}
.cardDescription{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.cardLink{
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
.cardLink a:any-link{
    text-decoration: underline;
    color: chartreuse;
}