body {
    background-color: lightsteelblue;
}
h3 {
    text-align: center;
    font-size: 30px;
}

#mainWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1128px;
    border: 6px solid darkblue;
    border-radius: 50px;
    padding: 8px;
    content: "";
    display: table;
    clear: both;
    /* I found the idea for the following code on
    https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css
    */
    background-image: linear-gradient(180deg, lightsteelblue 50%, aqua 50%);
    background-size: 100% 200%;
    background-position: top;
    animation-name: glassBackground;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes glassBackground {
    from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
}
/* This is the end of the code I found online */

#rowWrapper {
    width: 449px;
    margin: 18px;
}

#topRow {
    margin-bottom: 25px;
    width: 375px;
    height: 198px;
    padding: 25px;
    border: 7px solid darkblue;
    border-radius: 50px;
    background-color: azure;
}

#bottomRow {
    width: 375px;
    height: 132px;
    padding: 25px;
    border: 7px solid darkblue;
    border-radius: 50px;
    background-color:burlywood
}

#leftColumnWrapper {
    padding: 18px;
    margin: 18px;
    height: 433px;
    border: 7px solid darkblue;
    border-radius: 50px;
    width: 247px;
    background-color: salmon;
}

#rightColumnWrapper {
    padding: 18px;
    margin: 18px;
    height: 433px;
    border: 7px solid darkblue;
    border-radius: 50px;
    width: 224px;
    background-color: antiquewhite;
}

.column {
    float: left;
}

.name {
    font-size: 30px;
    margin: 10px;
    font-family: monospace;
}
