body{
    background-color: ghostwhite;
}
#top h4{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
#back{
    width: 10%;
    margin-left: 5%;
}
#theme{
    width: 15%;
    margin-left: 64%;
    margin-right: 5%;
}
#listName{
    margin-top: 0;
    text-align: center;
}
#toDoListContainer{
    height: 50vh;
    background-color: lightgoldenrodyellow;
    box-shadow: 5px 5px 20px black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow-y: scroll;
}
#toDoList{
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#toDoList thead{
    background-color: palegoldenrod;
}
#listForm{
    width: 90%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding: 5vh;
    background-color: antiquewhite;
    overflow: scroll;
}
#formTitle{
    margin-top: 0;
    margin-bottom: 2vh;
    text-align: center;
}
#formRow1{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;;
}
.row1Item{
    margin-left: auto;
    margin-right: auto;
}
#formRow2{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#itemClear{
    width: 20%;
    margin-left: 10%;
    margin-right: 20%;
}
#addToList{
    width: 20%;
    margin-left: 20%;
    margin-right: 10%;
}